includes:
  - ./vendor/nunomaduro/larastan/extension.neon
parameters:
  level: max
  paths:
    - app
  ignoreErrors:
    - message: '/expects string, (mixed|array\|string|array\|string\|null) given./'
      path: app/Adapter/Converter/
  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
